@model MailChimpApp.Models.MemberModel
@{
    ViewBag.Title = "Home Page";
}

<center>
    <h2>Asp.Net MVC <b>MailChimp</b> API</h2><br />
    <img src="~/Content/mail-chimp-1.jpg" style="height:300px" />
</center>


<div>
    @if(Model != null)
    {
        @Model.TextMessage
    }
</div>